<h1>
    <span class="far fa-list-alt"></span> Current Snippets
</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Author</th>
            <th>Snippets</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {{#if locals.snippetItems.length }}
        {{#each locals.snippetItems}}
        <tr>
            <td class="text-center text-primary">{{this.author}}</td>
            <td class="w-100">{{this.description}}</td>
            {{#if this.owner}}
              <td>
                  <a href="/snippets/edit/{{this.id}}"><span class="far fa-edit"></span></a>
                  <a href="/snippets/delete/{{this.id}}"><span class="far fa-trash-alt"></span></a>
              </td>
            {{/if}}
        </tr>
        {{/each}}
        {{else}}
        <tr>
            <td colspan="3" class="text-center text-danger">
                No snippet items to display.
            </td>
        </tr>
        {{/if}}
    </tbody>
</table>